.header__logo {
  background-image: url(../../../images/logo.svg);
  width: 142px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  margin-bottom: 40px; 
}

@media screen and (max-width: 650px) {
  .header__logo {
    width: 97px;
    height: 22px;
  }
}

@media screen and (max-width: 520px) {
  .header__logo {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin-left: 8.5vw;
  }
}

.header__logo:hover {
  opacity: .5;
  transition: opacity 1s linear;
}
